@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}
header h1 {
  font-size: 36px;
  order: 1;
}
header nav {
  order: 2;
}
header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
header nav ul li {
  display: inline;
  font-size: 24px;
  padding-right: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: #fff;
}
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.popup-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.popup-container input,
.popup-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.popup-container button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
}
.popup-container button:hover {
  background-color: #555;
}
.notes-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.note {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  width: calc(33.33% - 40px);
}
.note h3 {
  font-size: 20px;
  margin: 10px 0;
}
.note p {
  font-size: 16px;
}
